@charcet-utf-8;

@font-face {
    font-family: 'idroid';
    src: url('../fontes/idroid.otf') format('opentype');
}

@font-face {
    font-family: 'bebas';
    src: url('../fontes/BebasNeue-Regular.ttf') format('truetype');
}

:root{
    --cor0:#c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #063d1e;
}

:root{
    --normal: arial, helvetica, verdana, sans-serif;
    --idr: 'idroid', arial, helvetica,sans-serif;
    --bebas: 'bebas', verdana, sans-serif;
}

*{
    font-family: var(--normal);
}

body{
    margin: 0px;
}

header{
    background-image: linear-gradient(to top, var(--cor4), var(--cor3));
    height: 250px;
}

header > h1{
        margin-top: 0px;
        padding-top: 40px;
        text-align: center;
        color: white;
        font-family: var(--bebas);
        font-weight: normal;
        font-size: 50px;
        text-shadow: -7px 8px 15px rgba(0, 0, 0, 0.486);
}

header > p{
    max-width: 472px;
    margin: 0px auto;
    text-align: center;
    padding-top:5px ;
    color: white;

}

nav{
    background-color: var(--cor4);
    padding: 0px 0px 7px 3px;
}

nav > a{
    padding: 8px 13px 5px 13px;
    text-decoration: none;
    color: var(--cor0);
    font-family: var(--normal);
    border-radius: 2px 2px 0px 0px;
    transition-duration: 0.9s;
}

nav > a:hover{
    background-color: #0969338a;
    font-size: 1.1em;
}

nav > a:active{
    color: rgba(0, 0, 0, 0.247);
}

body{
    background-color: var(--cor0);
}

main{
    background-color: white;
    max-width: 900px;
    margin: 0px auto 10px auto;

}

main #primeiro{
    margin-top: 0px;
    padding-top: 20px;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.863);
}

main article p{
    padding: 0px 10px;
    text-align: justify;
    line-height: 30px;
    text-indent: 13px;
}

main h1,h2{
    margin: 10px;
    padding: 0px 10px;
    font-family: var(--idr);
    font-weight: normal;
}
main h2{
    background-image: linear-gradient(to right, var(--cor1), transparent);
    border-radius: 5px 0px 0px 4px;
}

picture img{
    width: 100%;
}

main #bug{
    width: 50%;
    display: block;
    margin: auto;

}

main div.ver{
    position: relative;
    margin: 1px 1px 1px 1px;
    padding-bottom: 54%;
    background-color: var(--cor4);
}

main div.ver video{
    position: absolute;
    top: -1%;
    left: 2%;
    width: 95%;
    height: 101%;
}

aside{
    background-color: var(--cor2);
    margin: 0px 3px;
    border-radius: 5px 5px 0px 0px;
}

main aside h3{
    background-color: var(--cor4);
    padding: 3px 7px;
    color: var(--cor0);
    border-radius: 5px 5px 0px 0px;
} 

main aside {
    line-height: 26px;
}

main aside p{
    padding: 0px 0px 5px 12px;
}

main aside ul{
    padding: 0px 0px 0px 100px;
}

main aside{
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5);
}

main #baixo{
    margin: 0px 0px 0px 8px;
    padding-bottom: 5px;
}

ul{
    columns: 2;
}

main abbr{
    text-decoration: none;
}

footer{
     background-color: var(--cor4);
     text-align: center;
     padding: 3px 0px;
     color: white;
     font-size: 13px;
 }

 footer > a{
     text-decoration: none;
     color:var(--cor0);
 }

 footer:hover > a{
     text-decoration: underline;
 }

 footer:active > a{
     color: #2fa866;
}

